*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

header{
    width: 100vw;
    background-image: url(pattern-bg-desktop.png);;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
}

header h1{
    margin-top: 30px;
    color: white;
}

header label{
    margin-top: 20px;
    display: flex;
}
label input{
    width: 400px;
    height: 43px;
    padding: 15px;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    border: 0px;
    outline: 0;
}

.arrow{
    height: 43px;
    width: 40px;
    background-color: black;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.arrow:hover{
    background-color: #333;
}

main{
    display: flex;
    justify-content: center;
    height: calc(100vh - 40vh);
    width: 100vw;
}

.infos{
    background-color: white;
    width: 70vw;
    margin-top: -65px;
    height: 25vh;
    border-radius: 10px;
    display: flex;
    padding: 40px 10px;
    justify-content: space-around;
    position: absolute;
    
    
}

.info{
    width: 33%;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
}

.info p{
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    color: #666;
    margin-bottom: 15px;
    font-weight: 500;
}

.border-r{
    border-right: 2px solid #ccc;
}

.info h3{
    font-size: 18px;
    max-width: 165px; 
    font-weight: 700;
}

#map{
    height: calc(100vh- 30vh);
    width: 100vw;
    z-index: -1;

}

@media screen and (min-width: 1920px) {
    header h1{
        font-size: 45px;
    }

    label input{
        width: 550px;
        height: 50px;
    }
    .arrow{
        height: 50px;
        width: 50px;
    }

    .infos{
        margin-top: -150px;
    }

    .info p{
        font-size: 23px;
    }

    .info h3{
        font-size: 28px;
        max-width: 225px; 
    }
}

@media screen and (min-width: 900px) and (max-width: 1300px) {
    header h1{
        font-size: 25px;
        
    }

    label input{
        width: 300px;
        height: 35px;
    }
    .arrow{
        height: 35px;
        width: 35px;
    }

    .infos{
        margin-top: -50px;
    }

    .info p{
        font-size: 10px;
    }

    .info h3{
        font-size: 14px;
        max-width: 145px;
    }
}

@media screen and (max-width : 768px) {
    header h1{
        font-size: 22px;
        margin-top: 15px;
    }

    label input{
        width: 30vw;
        height: 45px;
    }
    .arrow{
        height: 45px;
        width: 45px;
    }

    .infos{
        margin-top: -90px;
        flex-direction: column;
        width: 60vw;
        height: 35vh;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .border-r{
        border: 0px;
    }

    .info{
        padding: 0px;
    }

    .info p{
        font-size: 7px;
        margin-bottom: 3px;
        
    }

    .info h3{
        font-size: 12px;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 600px){
    label input{
        width: 70vw;
        height: 45px;
        margin-top: -10px;
    }

    .arrow{
        margin-top: -10px;
    }

    .infos{
        width: 80vw;
        margin-top: -130px;
        height: 42vh;
        padding: 0px;
    }

    .info{
        padding: 0px;
    }

    .info p{
        font-size: 9px;
        margin-bottom: 6px;
        
    }

    .info h3{
        font-size: 11px;
        margin-bottom: 6px;
    }


}